* {box-sizing: border-box;
    margin: 0;}

/* Full-width input fields */
input[type=date],input[type=email],input[type=inputText], input[type=password], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 3px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    line-height: 22px;
}
input[type=date]:focus,input[type=email]:focus,input[type=text]:focus, input[type=password]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}
label, input[type=date],input[type=email],input[type=inputText], input[type=password], textarea
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 15px;
}
form
{
    width: 40%;
    position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Set a style for the submit/register button */
input[type=reset],input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 48%;
  opacity: 0.9;
}
input[type=reset]{float: left;}
input[type=submit]{float: right;}
input[type=reset]:disabled,input[type=submit]:disabled {
    background-color: rgb(93, 119, 88);
  }
input[type=reset]:hover,input[type=submit]:hover {
  opacity:1;
}