label
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 50px;
}
#welcome
{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
#amountOfDays
{
    background-color: rgb(0, 255, 136);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}